.table-container {
    max-width: 100%;       /* prevents table from going outside */
    overflow-x: auto;      /* adds horizontal scroll if content too wide */
}
.info-table {
    width: 100%;
    border-collapse: collapse;
    /*table-layout: fixed;   /* ensures consistent column sizing */
}
.info-table th, .info-table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #b3b3b3;
    word-wrap: break-word; /* breaks very long words */
    white-space: nowrap;   /* prevents cells from stacking vertically */
}
.info-table th {
    padding-left: 0;
}

/* Mobile */
@media (max-width: 768px) {
    .info-table th, .info-table td {
        font-size: 14px;
    }
}