.table-container {
    max-width: 100%;       /* prevents table from going outside */
    overflow-x: auto;      /* adds horizontal scroll if content too wide */
}
.info-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;   /* ensures consistent column sizing */
}
.info-table th, .info-table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #b3b3b3;
    word-wrap: break-word; /* breaks very long words */
    white-space: nowrap;   /* prevents cells from stacking vertically */
}
.recovery-container {
    display: none;
}
.recovery-container p {
    font-size: 13px;
}
.active-recovery-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 8px;
    border-radius: 5px;
    background: rgb(116, 216, 255);
}