.hidden {
    display: none;
}
#cancelBtn {
    background: rgb(255, 15, 47);
}
#cancelBtn:hover {
    background: rgb(153, 10, 29);
}
.status-box {
    display: flex;
    justify-content: center;
    gap: 5px;
    max-width: 250px;
    margin : 20px 0;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background: rgb(223, 223, 223);
}
.pending-status-box {
    background: #fce38a;
    color: #6b4f1a; /* darker for contrast */
}
.active-status-box {
    background: #a9d8a9;
    color: #1a3d1a;
}
.expired-status-box {
    background: #f28b82;
    color: #6b0f0f;
}
.date-box {
    text-align: left;
}
.subs-content {
    margin: 40px 0;
}
.plan-box {
    margin: 20px 0;
}
.plan-box h3, p {
    padding: 4px 0;
}
.subs-content button {
    color: white;
    width: 165px;
    padding: 7px;
    border: none;
    border-radius: 7px;
}
#monthlyBtn {
    background: rgb(0, 183, 255);
}
#monthlyBtn:hover {
    background: rgb(0, 126, 175);
}   
#yearlyBtn {
    background: rgb(0, 192, 0);
}
#yearlyBtn:hover {
    background: rgb(3, 133, 3);
}
hr {
    color: rgb(230, 230, 230);
}
/* Mobile */
@media (max-width: 768px) {
    .section {
        text-align: center;
    }
    .status-box {
        font-size: 14px;
    }
    .date-box p {
        font-size: 14px;
    }
    .subs-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subs-content p {
        font-size: 13px;
    }
    .subs-content button {
        width: 128px;
        margin-top: 15px;
    }
    hr {
        width: 100%;
    }
}