.hidden {
    display: none;
}
#cancelBtn {
    background: rgb(255, 15, 47);
}
#cancelBtn:hover {
    background: rgb(153, 10, 29);
}
.status-box {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 150px;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background: rgb(223, 223, 223);
}
button {
    color: white;
    width: 165px;
    padding: 7px;
    border: none;
    border-radius: 7px;
}
#monthlyBtn {
    background: rgb(0, 192, 0);
}
#monthlyBtn:hover {
    background: rgb(3, 133, 3);
}
#yearlyBtn {
    background: rgb(0, 183, 255);
}
#yearlyBtn:hover {
    background: rgb(0, 126, 175);
}   

/* Mobile */
@media (max-width: 768px) {
    .section, .subs-content, .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    hr {
        border: 1px solid black; 
        width: 100%;
    }
    button {
        width: 128px;
        margin-top: 15px;
    }
}