body {
    display: flex;
    height: 100vh;
    background-color: #f5f5f5;
}
.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding-top: 20px;
}
.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}
.sidebar li {
    list-style: none;
    padding: 10px 20px;
    margin-left: -32px; /*fix the left gap after implementation of bootstrap*/
    border-bottom: 1px solid rgb(141, 141, 141);
    cursor: pointer;
}
.sidebar li:last-child {
    background: #096aa7;
}
.sidebar ul li:not(:last-child):hover { 
    background: #496785; 
}
.sidebar ul li:last-child:hover { 
    background: #0c94e9; 
}
.sidebar a {
    color: white;
} 
.main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}
.section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
a {
    position: relative; /* anchor for ::before */
    text-decoration: none;  
}
a::before {
    content: "";
    position: absolute;
    top: -10px;   /* expand clickable area */
    left: -20px;
    right: -155px;
    bottom: -10px; 
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
table, th, td {
    border: 1px solid #ccc;
}
th, td {
    padding: 10px;
    text-align: left;
}
