.option-group {/*specific "signup form"*/
    display: flex;
    align-items: center;
    gap: 10px;
}
.option-group button {/*specific "signup form"*/
    margin-top: 35px;
    margin-bottom: 20px;
    width: 135px;
}

@media (max-width: 768px) {
    .option-group button {
        width: 120px;
        font-size: 9px;
    }
}
