.option-group {/*specific "signup form"*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.option-group button {/*specific "signup form"*/
    margin-top: 35px;
    margin-bottom: 20px;
    width: 280px;
}
p {
    margin: 30px 30px;
}

@media (max-width: 768px) {
    .option-group button {
        width: 250px;
        font-size: 9px;
    }
}
