*, *::before, *::after {/*General*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {/*General*/
    height: 100;
    font-family: 'Inter', sans-serif;
} 
body {/*General*/
    display: flex;
    justify-content: center;
    align-items: center;
}
body::before {/*General*/
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/gym-background.jpg') center/cover no-repeat;
    filter: brightness(50%);
    z-index: -1;
    pointer-events: none;
}
.container {/*specific*/
    position: absolute;
    transform: translateX(-50%);
    top: 35%;
    width: 380px;
    min-height: 60px; /* This ensures a baseline size but still allows the box to expand if needed */
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    padding: 22px;

    /*for fancy glass background*/
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.gym-logoname {
    display: flex;
    align-items: center;
    gap: 10px;
}
.gym-logoname h2 {
    font-size: 28px;
    margin-top: 8px;
    color: white;
}
.gym-logoname img {
    width: 25px;
    height: 25px;
}
.login-group p {/*specific*/
    margin: 2px;
}
.google-logo {/*specific*/
    width: 20px;
    height: auto;
    margin-right: 5px; 
}
button {/*specific*/
    width: 100%;
    height: 30px;
    margin-top: 12px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    background: #24A0ED;
    transition: 0.2s ease;
    cursor: pointer;
}
button:hover {/*specific*/
    background: #0d7bc0;
}
label {/*specific*/
    color: white;
}
a {/*specific*/
    text-decoration: none;
    text-shadow: #24A0ED;
    color: #24A0ED;
    cursor: pointer;
}
p {/*specific*/
    font-size: 18px;
    color: white;
}


/* Loading Box */
.loading {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.7);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(42, 170, 255);
  font-size: 20px;
  z-index: 9999;
}
/* Spinner */
.spinner {
  width: 60px;
  height: 25px;
  margin: 10px;
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 50%;
  display: grid;
  animation: l2 2s infinite linear;
}
.spinner:before,
.spinner:after {
  content: "";
  grid-area: 1/1;
  border: inherit;
  border-radius: 50%;
  animation: inherit;
  animation-duration: 3s;
}
.spinner:after {
  --s:-1;
}
@keyframes l2 {
   100% {transform:rotate(calc(var(--s,1)*1turn))}
}


/*UI adjustment for mobile 364-800*/
@media screen and (max-width: 600px) {
    .container {
        width: 290px;
    }
}