[data-group="1"] {/*specific*/
    margin-bottom: 10px; 
}
.checkbox-group {/*specific*/
    margin-top: 10px;
}
.checkbox-group, .checkbox-group div {/*specific*/
    display: flex;
    font-size: 13px;
}
.checkbox-group div {/*specific*/
    width: 256px;
    margin-left: 10px;
    gap: 34px;
}
.checkbox-group input {/*specific*/
    cursor: pointer;
}
.option-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.option-group button {
    width: 280px;
}
.option-group button[type="submit"] {
    margin-top: 25px;
    margin-bottom: 6px;
}
.option-group button[type="button"] {
    margin-top: 6px;
    margin-bottom: 25px;
}